// Size
$navbarHeight: 66px;
$leftPanelWidthDesktop: 680px;
$paddingLarge: 100px;

// Color
$white: #FFFFFF;
$blue: #4066A5;
$blue2: #4267B2;
$darkBlue2: #2F4A80;
$black: #131821;
$darkGray: #6A707B;
$lightGray: #E3E3E4;
$lightTeal: #F2F5FA;
$purple: #C13584;
$darkPurple: #8F2762;
$teal: #1DA1F2;
$darkTeal: #177FBF;
$red: #FF0000;
$darkRed: #CC0000;